{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
    <h1>Bienvenue dans la page Home</h1>

    <a href="{{ path('app_brand_index') }}"><button type="button" class="btn btn-warning">Voir toutes les marques</button></a>

    <a href="{{ path('app_model_index') }}"><button type="button" class="btn btn-dark">Voir tous les models</button></a>


    <a href="{{ path('app_listing_index') }}"><button type="button" class="btn btn-warning">Voir toutes les annonces</button>
    </a>

{% endblock %}
