{% extends 'base.html.twig' %}

{% block title %}Edit Model{% endblock %}

{% block body %}
    <h1>Modifier le model</h1>

    {{ include('model/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_model_index') }}">Retourner à la liste</a>

    {{ include('model/_delete_form.html.twig') }}
{% endblock %}
